@charset "utf-8";
/* CSS Document */

.top-bar {
	font-family: arial, helvetica, sans-serif;
}

.bottom-bar {
	 padding:4px;
	 position:relative;
	 top:20px;
	 border-style:solid;
	 border-width:2px;
	 font-size: 50px;
}
body {
	background-color: #C5EFF7
}

h1 {
	color: #22313F
}

p {
	color: #22313F;
}
